version: '3.8'
services:
  qdrant:
    image: qdrant/qdrant
    ports:
      - "6333:6333"
    volumes:
      - ./qdrant_storage:/qdrant/storage

  mongodb:
    image: mongo
    ports:
      - "27017:27017"
    volumes:
      - ./mongo_data:/data/db